.logo {
  height: 48px;
}

.userProfile {
  text-align: center;
}

.centered {
  text-align: center;
}

.container {
  padding-top: 10px;
}

.ant-card {
 
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.nisakas {
  background-color: lightblue;
}
